/target/
/logs/
/project/project/
/project/target/
/project/.bloop/
/project/.metals/
/.project
/.classpath
/.settings/
/.idea/
/.ensime_cache/
/.ensime
/.vscode/
/dist/
/bin/
/build/
/out/
/.worksheet/
/.cache/
/.bsp/
.DS_Store
